.error-msg{
    font-style: italic;
    font-weight: 400;
    margin: 0px;
    color: red;
}

.float-right{
    float: right;
}

.card-title{
    font-weight: 400;
    font-size: 19px;
}

.fw-600{
    font-weight: 600;
}
