.error-msg{
    font-style: italic;
    font-weight: 400;
    margin: 0px;
    color: red;
    font-size: 12px;
}

.float-right{
    float: right;
}

.card-title{
    font-weight: 400;
    font-size: 19px;
}

.fw-600{
    font-weight: 600;
}

.m-b-6-main-row{
    margin-bottom: 6px!important;
}

.text-decoration-none{
    text-decoration: none;
}
